In [ ]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE proyecto_#####################")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

COLUMNAS DATOS PERSONALES:  

PK: crear una con AUTOINCREMENT? \\
FK:  'employeenumber' 

'Age', 'Over18, 'Gender,  'Education', 'EducationField',  'MaritalStatus',  'DateBirth' ,  'DistanceFromHome,  'MonthlyIncome',  TotalWorkingYears, NumCompaniesWorked

COLUMNAS CONDICIONES LABORALES:

 PK: 'employeenumber', 
 
  'Attrition',  'BusinessTravel,  'Department', 'employeecount',  'HourlyRate',  'JobLevel',  'JobRole',  'OverTime',  'PercentSalaryHike','StandardHours',  'YearsAtCompany', 'YearsInCurrentRole',  'YearsSinceLastPromotion',  'YEARSWITHCURRMANAGER',  DailyRate',  'JobInvolvement',  MonthlyRate

COLUMNAS RATIOS: 

PK: 'employeenumber',

'Attrition',  'JobSatisfaction' ,  'EnvironmentSatisfaction',  'RelationshipSatisfaction',   PerformanceRating,   WORKLIFEBALANC

TABLAS EXTRAS: 

PK: 'employeenumber'  -   'Attrition'

DUDAS: ( de momento en datos personales) 

Num_Companies_Worked (numero de compañias donde ha trabjado), Total_Working_Years

NO APORTAN A LA BBDD:

 'RoleDepartament', 'NUMBERCHILDREN','SameAsMonthlyIncome'

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='####################')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE ##nombre## (###### VARCHAR (50) PRIMARY KEY,###### VARCHAR(100), ######r VARCHAR(50), G######a VARCHAR (250), ###### MEDIUMINT, ###### FLOAT)")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)